---
layout: default
title: บริการของเรา
section_id: services
lang: th
services:
  -
    - title: รีแมพ จูน/ปรับแต่ง กล่องควบคุมเครื่องยนต์ (ECU)
      icon: car
      desc:
        เราให้บริการ รีแมพ สำหรับกล่องควบคุมเครื่องยนต์เดิมจากโรงงานผลิต (OEM) โดยที่ไม่ต้องปรับแต่งหรือเพิ่มอุปกรณ์ เราเป็นตัวแทนจำหน่ายอย่างเป็นทางการของ <b>บริษัทชั้นนำด้านรีแมพจากประเทศอังกฤษ Quantumtuning </b>และเราเป็นสมาชิคของกลุ่มจูน/รีแมพของ Quantumtuning ร่วมกับอีกหลายประเทศทั่วโลก เราให้บริการสำหรับรถยนต์ส่วนบถคคล รถกระบะ รถบรรทุก และจักรยานยนต์ การรีแมพสามารถทำได้ที่ <b>ศูนย์บริการไดโน่</b> หรือ <b>นอกสถานที่ โดยนัดหมาย</b>สำหรับข้อมูลเพิ่มเติมกรุณา <a href="{{site.url}}/services-remap-th.html"><b>คลิ้กที่นี่</b></a>
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-map'></i>
      <h2>บริการของเรา</h2>
      <p></p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in page.services %}
    <div class="row">
      {% for service in row %}
        <div class='medium-12 large-12 columns icon-text'>
          <i class='fa fa-lg fa-{{service.icon}} {{service.color}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}
</div>