---
layout: default
title: Services
section_id: services
lang: en
services:
  -
    - title: Engine Control Unit (ECU) Remapping/tuning
      icon: car
      desc:
        We provides ECU Remapping service for OEM (Stock) ECU without having to modify or add any hardware. From the UK's leading remapping development company, Quantum Tuning, we are the authorized dealer and member of Quantum Tuning network. We offer a wide range of ECU Remapping for Cars, Pickups, Trucks, and Bikes. Remapping can be done <b>at a dyno facility</b> or <b>mobile at an appointed place.</b><a href="services-remap.html"> <b>Learn more</b></a>
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-map'></i>
      <h2>Our services</h2>
      <p></p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in page.services %}
    <div class="row">
      {% for service in row %}
        <div class='medium-12 large-12 columns icon-text'>
          <i class='fa fa-lg fa-{{service.icon}} {{service.color}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}
</div>