---
layout: default
title: ECU Remapping
section_id: remapping
lang: en
services:
  -
    - title: What is ECU?
      icon: hdd
      desc:
        In modern cars, the engine is controlled electronically with the help of electronic control device called <b>Engine Control Unit (ECU)</b>. The ECU controls all of the components related to the engine such as fuel pump, cooler fan, injectors, spark plugs, etc. ECU contains all of the algorithms for operating the engine. ECU can be located inside of the cockpit, or in the engine bay. 
        <p>There are many OEM ECU manufacturers such as Bosch, Siemens, Denso, etc. However, in motorsports, they need to be able to contol and modify every output of the ECU which can't be done with OEM equipments. This can be done with aftermarket ECU such as MoTec, Haltech, etc.</p>
      color:
      img: ecu.png
    - title: What is ECU Remapping?
      icon: chart-area
      desc:
        ECU Reprogramming or Remapping is the process of modifying the data read from the ECU. The standard vehicle engine control maps stored in the ECU are read using professional equipment. We then make adjustments to the engine control parameters such as <b>fuel pressure, injection quantity, boost pressure, ignition, and throttle control</b>. These parameters changes the behavior of the engine, performance, and drivability.
        <p>The standard maps from the vehicle manufacturer was developed with multiple consideration factors taken such as all driving conditions, component safety factors, and regions that the model are sold. In order to meet all of the requirements, the maps are calibrated well under the limits or the optimum power. This gap between the original maps and the limits are the <b>‘hidden’</b> performances that ECU remapping will unleash.</p>
      color:
      img: remapping.jpg
  -
    - title: Chip Tuning
      icon: microchip
      desc:
        The term ‘Chip Tuning’ refers back to 1980s where there are no On Board Diagnostics (OBD) port to diagnose data in the early model of ECUs. Back then, reprogramming or remapping the ECU are done by directly accessing the physical memory components of the ECU. This means that the ECU must be taken out of the vehicle, disassembled and actually take off the memory chip from the ECU board.
        <p>Nowadays, OBD port is equipped as a standard in every vehicle and can be used to access the data of the ECU without requiring physical access to the ECU. However, there are some models that OBD port cannot be used to reprogram the ECU. These models <b>requires direct access to the ECU<b>, but without removing any ECU components.</p>
      color: orange
      img: chip_tuning.jpg
    - title: OBD Remapping
      icon: plug
      desc:
        Vehicles manufactured since the year 2000 are equipped with <b>OBD-II</b> port as a mandatory standard specification. With this OBD-II port, there are protocols to read and write the memory contents of the ECU without accessing the actual hardware. Reprogramming or remapping via OBD-II port is the most common way to remap the vehicle today.
        <p><b>Without having to remove any hardware from the vehicle</b>, remapping is done easier, safer, and quicker. Remapping tool connects securely to the OBD-II port to read and write the maps data of the ECU.</p>
      color: orange
      img: obd2.jpg
  -
    - title: Economy Remapping
      icon: fire
      desc:
        Our <font color="green"><b>Economy Remapping</b></font> works on diesel vehicles by changing the power and efficiency points of the engine, delivering <font color="green"><b> more power and torque</b></font>. Having more power reduces load of the engine while giving the ability to get to higher gear sooner for longer resulting in improved fuel mileage. Our customers will see <font color="green"><b>fuel improvements of 8-10% on most diesel vehicles.</b></font> Great for commercial vehicle and fleets where saving really counts!
      color: green
      img: eco_map.jpg
    - title: Performance Remapping
      icon: fighter-jet
      desc:
        We developed <font color="red"><b>Performance Remapping</b></font> to work on standard vehicle maintaining manufacturer levels of reliability and original service intervals. Designed to fully unleash the full potential of your engine, greater throttle response, overtaking ability, engine smoothness and in some cases, better fuel economy, with <font color="red"><b>performance gains up to 30%.</b></font> Performance Remapping works on both diesel and petrol vehicles. Ideally used in situations where the <font color="red"><b>extra power and torque</b></font> is required for example moving extra heavy loads, running optimised acceleration, experiencing a wider torque window, or simply to <font color="red"><b>enjoy your vehicle.</b></font>
      color: red
      img: performance_map.jpg
  -
    - title: Advanced EGR Solutions
      icon: eject
      desc:
        Standard vehicles are equipped with <b>Exhaust Gas Recirculation (EGR)</b> systems to reduce emissions such as NOx. Some of the exhaust recirculates back to the intake of the engine with aim to reduce emission. However, exhaust gas contains carbon deposits which can build up in the intake manifold over time. Carbon deposits con sometimes lead to EGR failure which is expensive to replace. Our <b>advance EGR solution</b> disable the EGR valves by reprogramming the software without having to remove or add any hardware. Disabling EGR results in <b> reduced engine temperature, improved throttle response and economy and also can lengthen engine life by reducing oil contamination and carbon deposits.</b>
      color: yellow
      img: egr.jpg
    - title: Will it void the warranty?
      icon: shield-alt
      desc:
        Remapping via OBD-II port is usually untracable even with the dealer's equipments. The maps are stored deep in the memory of ECU, without specific tools these data can't be accessed. Remapping only reprograms the constants (maps) in the memory, therefore doesn't affect the OEM program. However, some of the ECU needs to be opened and chip-tuned, unfortunately this method will void the warranty <b>only the ECU itself.</b> It will not affect the warranty of the other components.
      color: yellow
      img: warranty.png
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-download'></i>
      <h2>ECU Remapping Service</h2>
      <p>Here is information about our remapping service</p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in page.services %}
    <div class="row">
      {% for service in row %}
        <div class='medium-6 large-6 columns icon-text'>
          {% if service.img%}
            <div class="centered-text"><img src='{{site.url}}/images/service-remap/{{service.img}}'></div>
          {% endif %}
          </br>
          <!--<i class='icon-{{service.icon}} {{service.color}}'></i>-->
          <i class='fa fa-{{service.icon}} fa-lg {{service.color}}'></i>
          <h3>{{service.title}}</h3>
          <p>{{service.desc}}</p>
        </div>
      {% endfor %}
    </div>
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
    </div>
  {% endfor %}
  <div class="row centered-text">
    <div class='medium-6 large-6 columns button white button-text-boxed2'>
        <a href="http://thailand.quantum-tuning.com/vehicle-directory.aspx"><i class="icon-search"><b>Find your vehicle's potential</b></i></a>
    </div>
    <div class='medium-6 large-6 columns button white button-text-boxed2'>
        <a href="http://thailand.quantum-tuning.com"><i class="icon-map"><b>Read more on our dealer website</b></i></a>
    </div>
  </div>
  {% include get-in-touch.html %}
</div>