<!-- FB SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution="setup_tool"
  page_id="179568325928868"
  theme_color="#0084ff"
  logged_in_greeting="สวัสดีครับ สนใจสินค้า หรือบริการตัวไหน สามารถสอบถามข้อมูลเพิ่มเติมได้เลยนะครับ"
  logged_out_greeting="สวัสดีครับ สนใจสินค้า หรือบริการตัวไหน สามารถสอบถามข้อมูลเพิ่มเติมได้เลยนะครับ">
</div>
<!-- End FB customer chat -->
<!-- END FB SDK -->
