<!-- GET IN TOUCH -->
<div  id="git" class="hero-section">
    <!-- GET IN TOUCH HEADER -->
    <div class="git-header">
        <img class="git-logo" src="images/git-logo.svg">
        <div class="git-line"></div>
    </div>
    <!-- GET IN TOUCH CONTAINER -->
    <div class="container">
      <!-- GET IN TOUCH ROW -->
      <div class="row justify-content-between">
        <!-- LEFT -->
        <div class="col-sm-5">
          <h1 class="hero-header hero-header--sub">
            Get in touch with us
          </h1>
        </div> <!-- END LEFFT -->

        <!-- RIGHT -->
        <div class="col-sm-5">
          <ul class="git-list">
            <li>
                <img class="git-icon" src="images/contact-icon-phone.svg">
                02-049-8362  /  065-731-7614
            </li>
            <li>
                <img class="git-icon" src="images/contact-icon-line.svg">
                @ryutech
            </li>
            <li>
                <img class="git-icon" src="images/contact-icon-web.svg">
                www.ryutech.co.th
            </li>
            <li>
                <img class="git-icon" src="images/contact-icon-mail.svg">
                ryutechtuning@gmail.com
            </li>
            <li>
                <img class="git-icon" src="images/contact-icon-map.svg">
                41/104-105  Kanlapaphruak Rd<br>
                Bang Khae, Bang Khae Bangkok
            </li>
          </ul>
        </div> <!-- END RIGHT -->
      </div> <!-- END GET IN TOUCH ROW -->
    </div> <!-- END GET IN TOUCH CONTAINER -->

    <!-- MAPS -->
    <div class="embed-responsive" style="height: 40rem;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.600547574986!2d100.40765685046458!3d13.682036502545234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2bd6f6934c63d%3A0x7cc1516a086f9cd8!2sRyutech+Automotive+Tuning+Center!5e0!3m2!1sen!2sth!4v1524315586914" allowfullscreen></iframe>
    </div> <!-- END MAPS -->
</div> <!-- END GET IN TOUCH -->

<!-- FOOTER -->
<footer class="footer">
    <!-- FOOTER NAV -->
    <nav class="footer-nav">
        <!-- FOOTER NAV CONTAINER -->
        <div class="container">
            <!-- ROW -->
            <div class="row">
                <div class="col-sm">
                    <a href="/about" class="footer-nav-header">About us</a>
                </div>
                <div class="col-sm">
                    <a href="#" class="footer-nav-header footer-nav-header--inactive">Knowledge</a>
                </div>
                <div class="col-sm">
                    <a href="#" class="footer-nav-header footer-nav-header--inactive">Portfolio</a>
                </div>
                <div class="col-sm">
                    <a href="/services" class="footer-nav-header">Services</a>
                </div>
                <div class="col-sm">
                    <a href="/products" class="footer-nav-header">Products</a>
                </div>
                <div class="col-sm">
                    <a href="#" class="footer-nav-header footer-nav-header--inactive">News Update</a>
                </div>
            </div> <!-- END ROW -->
        </div> <!-- END FOOTER NAV CONTAINER -->
    </nav> <!-- END FOOTER NAV -->

    <!-- FOOTER COPYRIGHT -->
    <section class="footer-copyright">
        <!-- FOOTER COPYRIGHT CONTAINER -->
        <div class="container">
            <span class="copyright">Copyright 2018 Ryutech</span>
        </div> <!-- END FOOTER COPYRIGHT CONTAINER -->
    </section> <!-- END FOOTER COPYRIGHT -->
</footer> <!-- END FOOTER -->

<script src='{{ site.url }}/js/jquery.min.js'></script>
<script src='{{ site.url }}/js/foundation.min.js'></script>
<script src='{{ site.url }}/js/jquery.countTo.js'></script>
<script src='{{ site.url }}/js/jquery.appear.js'></script>
<script src='{{ site.url }}/js/app.js'></script>

<script src='{{ site.url }}/js/popper.min.js'></script>
<script src='{{ site.url }}/js/bootstrap.min.js'></script>