<!-- FOOTER -->
<footer class="footer">
    <!-- FOOTER NAV -->
    <nav class="footer-nav">
        <!-- FOOTER NAV CONTAINER -->
        <div class="container">
            <!-- ROW -->
            <div class="row">
                <div class="col-sm">
                    <h4 class="footer-nav-header">Company</h4>
                    <ul class="footer-nav-menu">
                        <li>xxxxxxx</li>
                        <li>xxxxxxx</li>
                        <li>xxxxxxx</li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h4 class="footer-nav-header">Knowledge</h4>
                    <ul class="footer-nav-menu">
                        <li>xxxxxxx</li>
                        <li>xxxxxxx</li>
                        <li>xxxxxxx</li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h4 class="footer-nav-header">Portfolio</h4>
                    <ul class="footer-nav-menu">
                        <li>xxxxxxx</li>
                        <li>xxxxxxx</li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h4 class="footer-nav-header">Services</h4>
                    <ul class="footer-nav-menu">
                        <li>xxxxxxx</li>
                        <li>xxxxxxx</li>
                        <li>xxxxxxx</li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h4 class="footer-nav-header">Products</h4>
                    <ul class="footer-nav-menu">
                        <li>xxxxxxx</li>
                        <li>xxxxxxx</li>
                        <li>xxxxxxx</li>
                    </ul>
                </div>
                <div class="col-sm">
                    <h4 class="footer-nav-header">News Update</h4>
                    <ul class="footer-nav-menu">
                        <li>xxxxxxx</li>
                        <li>xxxxxxx</li>
                        <li>xxxxxxx</li>
                    </ul>
                </div>
            </div> <!-- END ROW -->
        </div> <!-- END FOOTER NAV CONTAINER -->
    </nav> <!-- END FOOTER NAV -->

    <!-- FOOTER COPYRIGHT -->
    <section class="footer-copyright">
        <!-- FOOTER COPYRIGHT CONTAINER -->
        <div class="container">
            <span class="copyright">Copyright 2018 Ryutech</span>
        </div> <!-- END FOOTER COPYRIGHT CONTAINER -->
    </section> <!-- END FOOTER COPYRIGHT -->
</footer> <!-- END FOOTER -->

<script src='{{ site.url }}/js/jquery.min.js'></script>
<script src='{{ site.url }}/js/foundation.min.js'></script>
<script src='{{ site.url }}/js/jquery.countTo.js'></script>
<script src='{{ site.url }}/js/jquery.appear.js'></script>
<script src='{{ site.url }}/js/app.js'></script>

<script src='{{ site.url }}/js/popper.min.js'></script>
<script src='{{ site.url }}/js/bootstrap.min.js'></script>