<footer class='footer centered-text'>
    <div class='row'>
        <div class='large-12 columns'></div>
        <h1 class='light'>
        <img src='{{site.url}}/images/ryutech-logo-grey.png'>
        <!--{{ site.name }}-->
        </h1>
        <div class='socials centered-text'>
        <a href='#'>
            <i class='icon-phone grey'></i>
        </a>
        <a href='#'>
            <i class='icon-facebook grey'></i>
        </a>
        <a href='#'>
            <i class='icon-mail grey'></i>
        </a>
        </div>
        <p class='copyright'>Copyright 2017 Ryutech</p>
    </div>
</footer>

<script src='{{ site.url }}/js/jquery.min.js'></script>
<script src='{{ site.url }}/js/foundation.min.js'></script>
<script src='{{ site.url }}/js/jquery.countTo.js'></script>
<script src='{{ site.url }}/js/jquery.appear.js'></script>
<script src='{{ site.url }}/js/app.js'></script>

<script src='{{ site.url }}/js/popper.min.js'></script>
<script src='{{ site.url }}/js/bootstrap.min.js'></script>