<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
          {% if page.lang=='en' %}
            <h2>Get In touch with us</h2>
            <p>We are more than happy to talk to you, please feel free to contact us.</p>
          {% else %}
            <h2>ติดต่อเรา</h2>
            <p>เรายินดีที่จะพูดคุยและให้คำปรึกษา</p>
          {% endif %}
        <p class='shortline'></p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='row'>
    <div class='medium-12 large-4 medium-centered large-centered small-centered columns contact-info'>
      {% if page.lang=='en' %}
        <i class='icon-phone'><a href="tel:+66657317614">+66(0)65-731-7614</a></i>
      {% else %}
        <i class='icon-phone'><a href="tel:+66657317614">065-731-7614</a></i>
      {% endif %}
      <h3>LINE  </h3><i><a href="mailto:ryutechtuning@gmail.com">@Ryutechtuning</a></i>
      <i class='icon-facebook'><a href="mailto:ryutechtuning@gmail.com">Ryutech Tuning</a></i>
      <i class='icon-mail'><a href="mailto:ryutechtuning@gmail.com">ryutechtuning@gmail.com</a></i>
    </div>
    <!--
    <div class='medium-6 large-6 columns'>
       MAPS 
    </div>
    -->
  </div>
</div>