<div class='full'>
  <div class='row'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Get In touch with us</h2>
        <p>We are more than happy to talk to you, please feel free to contact us.</p>
      </div>
    </div>
  </div>
</div>
<div class='full yellow'>
  <div class='row'>
    <div class='medium-6 large-6 medium-centered large-centered columns contact-info'>
      <i class='icon-phone'><a href="tel:+66657317614">0657317614</a></i>
      <i class='icon-mail'><a href="mailto:ryutechtuning@gmail.com">ryutechtuning@gmail.com</a></i>
      <i class='icon-facebook'><a href="mailto:ryutechtuning@gmail.com">Ryutech Tuning</a></i>
      <h3>LINE  </h3><i><a href="mailto:ryutechtuning@gmail.com">@Ryutechtuning</a><i>
    </div>
    <!--
    <div class='medium-6 large-6 columns'>
       MAPS 
    </div>
    -->
  </div>
</div>