<header>
    <!-- NAVIGATION -->
    <nav class="container navigation">
        <!-- MB MENU BTN -->
        <a href="#"><img class="menu-icon" src="/images/menu-icon.svg" alt="menu"></a>
        <!-- END MB MENU BTN -->

        <!-- LANGUAGE SWITCHER -->
        <div class="language-switcher">
            <a href="#" class="language-btn language-btn--primary">EN</a>
            /
            <a href="#" class="language-btn">ไทย</a>
        </div> <!-- END LANGUAGE SWITCHER -->

        <div class="row">
            <!-- NAV LEFT -->
            <div class="col-sm navigation-group">
                <a href="/about" class="navigation-links">About us</a>
                <a href="#" class="navigation-links navigation-links--inactive">Knowledge</a>
                <a href="#" class="navigation-links navigation-links--inactive">Portfolio</a>
            </div> <!-- END NAV LEFT -->
            
            <!-- LOGO -->
            <div class="col-sm-auto">
                <a href="/">
                    <img class="logo" src="/images/logo.svg" alt="Ryutech">
                </a>
            </div> <!-- END LOGO -->

            <!-- NAV RIGHT -->
            <div class="col-sm navigation-group">
                <a href="/services" class="navigation-links">Services</a>
                <a href="/products" class="navigation-links">Products</a>
                <a href="#" class="navigation-links navigation-links--inactive">News Update</a>
            </div> <!-- END NAV RIGHT -->
        </div>
    </nav> <!-- END NAVIGATION -->
</header>