<ul data-orbit=''>
  {% for slide in site.data.slides %}
    <li>
      <img src="{{site.url}}/images/slides/{{slide.image}}" />
      <div class='orbit-caption caption-{{ slide.desc_location }}'>
        <div class='row'>
          <div class='large-12 columns right'>
            {% if page.lang=='en' %}
              {{ slide.desc }}
            {% else %}
              {{ slide.desc-th }}
            {% endif %}
            
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>