<div class='full centered-text'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-login'></i>
      <h2>Why choose us</h2>
      <p class='shortline'></p>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row' align="center">
    {% for why in site.data.whys %}
      {% if include.shape %}
        {% assign shape = include.shape %}
      {% else %}
        {% assign shape = "boxed" %}
      {% endif %}
      <div class='medium-3 large-3 columns icon-text-{{shape}}2'>
        <i class='icon-{{ why.icon }}'></i>
        <h3>{{ why.title }}</h3>
        <p>{{ why.desc }}</p>
      </div>
    {% endfor %}
  </div>
</div>