.blog-grid {
    margin-bottom: 2.4rem;
    display: flex;
    margin-left: -1.6rem;
    margin-right: -1.6rem;

    &-cell {
        padding: 0 1.6rem;
    }

    &-img {
        margin-bottom: 3.5rem;
        width: 25%;
    }

    &-text {
        width: 75%;
    }

    &-header {
        font-size: 2.5rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
        margin-bottom: 1.8rem;
        border-bottom: .4rem solid $color-grey-1;
        color: $color-primary-normal;
    }

    &-content {
        color: $color-grey-1;
        font-size: 2.2rem;
    }

    &-more {
        text-align: right;
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;

        a {
            color: $color-grey-1;
        }
    }

    @media (min-width: 768px) {
        flex-flow: column;

        &-img,
        &-text {
            width: initial;
            min-height: 200px; // placeholder
        }
    }
}