.blog-grid {
    margin-bottom: 2.4rem;

    &-img {
        height: 35rem;
        background-color: $color-primary-normal;
        margin-bottom: 3.5rem;
    }

    &-header {
        font-size: 2.5rem;
        font-weight: 700;
        padding-bottom: 1.5rem;
        margin-bottom: 1.8rem;
        border-bottom: .4rem solid $color-grey-1;
        color: $color-primary-normal;
    }

    &-content {
        color: $color-grey-1;
        font-size: 2.2rem;
    }

    &-more {
        text-align: right;
        font-size: 2rem;
        font-weight: 300;
        text-transform: uppercase;

        a {
            color: $color-grey-1;
        }
    }

    &--small {
        .blog-grid{
            &-img {
                height: 20rem;
            }
        }
    }
}