.blog-grid {
    margin-bottom: 2.4rem;

    &-img {
        height: 35rem;
        background-color: $color-primary-normal;
        margin-bottom: 3.5rem;
    }

    &-header {
        font-size: 2.4rem;
        font-weight: bold;
        padding-bottom: 1.5rem;
        margin-bottom: 1.8rem;
        border-bottom: .4rem solid $color-grey-1;
    }

    &-content {
        color: $color-grey-1;
    }

    &-more {
        text-align: right;

        a {
            text-transform: uppercase;
            color: $color-grey-1;
        }
    }

    &--small {
        .blog-grid{
            &-img {
                height: 20rem;
            }

            &-header {
                font-size: 1.8rem;
            }
        }
    }
}