.footer {
    background-color: $color-primary-normal;

    &-nav {
        background-color: $color-primary-normal;
        color: $color-white;
        padding: 12rem 0 5rem;

        -webkit-clip-path: polygon(20% 5rem, 80% 5rem, 86% 0, 100% 0, 100% 100%, 0 100%, 0 0, 14% 0);
        clip-path: polygon(20% 5rem, 80% 5rem, 86% 0, 100% 0, 100% 100%, 0 100%, 0 0, 14% 0);

        &-header {
            font-size: 2.8rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $color-white !important;

            &--inactive,
            &--inactive:hover {
                color: $color-primary-dark !important;
                text-decoration: none;
                cursor: default;
            }
        }

        &-menu {
            margin: 0;
            padding: 0;
            font-size: 2.2rem;
            
            li {
                list-style: none;
            }
        } 
    }

    &-copyright {
        background-color: $color-primary-dark;
        color: $color-white;
        padding: 1.3rem;
        text-align: right;
        text-transform: uppercase;
    }
}

.git {
    &-header {
        position: relative;
    }

    &-line {
        height: 2rem;
        width: 100%;
        background-color: $color-primary-dark;
        position: absolute;
        top: 50%;
    }

    &-logo {
        width: 15rem;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        display: block;
    }
}