header {
    position: relative;
    margin: 36px 0;
    text-transform: uppercase;

    &::before,
    &::after {
        content: "";
        display: block;
        height: 20px;
        width: calc(50% - ((215px / 2) + 15px));
        background-color: $color-primary-dark;
        position: absolute;
        top: 50%;
    }

    &::before { left: 0; }
    &::after { right: 0; }
}

.logo {
    width: 185px;
    display: block;
}

.navigation {
    position: relative;

    &-group {
        display: flex;
        justify-content: space-between;
    }

    &-links {
        font-weight: bold;
        font-size: 18px;
        line-height: .6;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

.language-switcher {
    position: absolute;
    right: 0;
    margin: 0 15px;

    .language-btn {
        font-weight: bold;

        &--primary {
            font-size: 24px;
            color: $color-primary-dark;
        }
    }
}