header {
    position: relative;
    padding: 1.8rem 0;
    text-transform: uppercase;
    border-bottom: 2rem solid $color-primary-dark;

    @media (min-width: 768px) {
        padding: 3.6rem 0;
        border-bottom: none;

        &::before,
        &::after {
            content: "";
            display: block;
            height: 2rem;
            width: calc(50% - ((21.5rem / 2) + 1.5rem));
            background-color: $color-primary-dark;
            position: absolute;
            top: 50%;
        }

        &::before {
            left: 0;
        }

        &::after { right: 0; }
    }
}

.logo {
    width: 52px;
    display: block;

    @media (min-width: 768px) {
        width: 18.5rem;
    }
}

.menu-icon {
    width: 32px;
    position: absolute;
    right: 30px;
    top: 120px;
    z-index: 2;
    
    @media (min-width: 768px) {
        display: none;
    }
}

.navigation {
    position: relative;

    &-group {
        display: none;
        justify-content: space-between;

        @media (min-width: 768px) {
            display: flex;
        }
    }

    &-links {
        display: block;
        font-weight: 700;
        font-size: 7rem;
        line-height: 1;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 2.8rem;
            line-height: .6;
            display: inline;
            text-align: inherit;
        }

        &--inactive,
        &--inactive:hover {
            color: $color-grey-0;
            cursor: default;
            text-decoration: none;
        }
    }

    &-mobile {
        position: fixed;
        top: 0;
        left: 0;
        background: $color-white;
        width: 100%;
        z-index: 2;
        padding: 5rem 0;
        transform: translateY(-100%);
        transition: transform .3s ease;

        @media (min-width: 768px) {
            display: none;
        }

        &.active {
            transform: translateY(0);
        }

        .close-menu {
            width: 5rem;
            position: absolute;
            right: 5rem;
            top: 5rem;
            cursor: pointer;
        }
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

.language-switcher {
    position: absolute;
    right: 0;
    margin: 0 1.5rem;

    .language-btn {
        font-weight: 700;
        font-size: 1.8rem;

        &--primary {
            font-size: 2.6rem;
            color: $color-primary-dark;
        }
    }
}