#what {
    background: linear-gradient($color-primary-dark,$color-secondary);
    color: $color-white;
    padding-top: 6rem;

    .what {
        &-box {
            display: flex;
            margin-top: 6.5rem;

            &:last-child {
                height: 34rem;
            }
        }

        &-cell {
            width: 50%;
            padding: 0 2rem;
        }

        &-header {
            font-size: 5rem;
            font-weight: 700;
            line-height: .85;
            text-transform: uppercase;
        }
    }

    &-icon-1 {
        width: 17rem;
        transform: translate(4.5rem,-15rem);
    }

    &-icon-2 {
        height: 43.5rem;
        width: 26.5rem;
        transform: translate(-10rem,-10rem)
    }
}

.git {
    &-list {
        list-style: none;

        li {
            font-size: 3.7rem;
            font-weight: 700;
            color: $color-grey-1;
            position: relative;
        }
    }

    &-icon {
        width: 3.5rem;
        position: absolute;
        left: -5rem;
        top: 1.2rem;
    }
}